body {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    /* Фон */
    background-color: #849d8f;
}
body > input[type="radio"] {
  display: none;
}
/*---------------------------------- Шапка -----------------------------------*/
.main-header {
    /* Блочная модель */
    height: 131px;
}
.main-navigation {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    height: 64px;
    margin-top: 9px;
}
.main-navigation .logo {
    /* Блочная модель */
    margin-right: 10px;
}
.navigation-block {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 0;
    padding: 0;
    vertical-align: top;
    /* Оформление текста */
    font-size: 0;
    list-style: none;
}
.navigation-block-point,
.active-navigation-block-point {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 14px 0;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 16px;
    line-height: 18px;
}
.navigation-block-point a,
.active-navigation-block-point a {
    padding: 6px 14px;
    padding-bottom: -10px;
    /* Управление потоком */
    display: block;
    /* Оформление текста */
    color: #ffffff;
}
.active-navigation-block-point > a {
    /* Оформление текста */
    text-decoration: none;
    /* Фон */
    background: #d07058;
    /* Декоративные элементы */
    border-radius: 16px;
}
.navigation-block-point:hover > a,
.active-navigation-block-point:hover > a {
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
    border-radius: 16px;
    /* Оформление текста */
    text-decoration: none;
    color: #333333;
}
.active-navigation-block-point:active,
.navigation-block >li:active {
    /* Декоративные элементы */
    box-shadow: inset 0 2px 0 0 #696969;
}
.active-navigation-block-point {
    /* Оформление текста */
    color: #ffffff;
}
.sub-navigation {
    /* Позиционирование */
    position: absolute;
    left: 5px;
    top: 40px;
    z-index: 10;
    /* Управление потоком */
    display: none;
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}
.sub-navigation-block-point a {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    width: 104px;
    margin: 5px 0;
    padding: 5px 20px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: #323232;
}
.sub-navigation .active {
    /* Фон */
    background: #d07058;
}
.sub-navigation .active a{
    /* Оформление текста */
    color: #ffffff;
}
.sub-navigation li:first-child {
    /* Позиционирование */
    position: relative;
}
.sub-navigation li:first-child::after {
    /* Позиционирование */
    position: absolute;
    bottom:0;
    left: 8px;
    /* Блочная модель */
	content:"";
    width: 130px;
    height: 1px;
    /* Фон */
	background-color: #d1d0ce;
}
.sub-navigation li:first-child a {
    /* Оформление текста */
    font-weight: 700;
    color: #323232;
}
.navigation-block-point:hover .sub-navigation,
.active-navigation-block-point:hover .sub-navigation {
    /* Управление потоком */
    display: block;
}
.sub-navigation-block-point:hover {
    /* Фон */
    background: #fbded7;
    /* Декоративные элементы */
    border-radius: 0;
}
.sub-navigation-block-point:active {
    /* Фон */
    background: #f6b5a5;
}
.sub-navigation-block-point:active a {
    /* Декоративные элементы */
    box-shadow: none;
}
.user-block {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 265px;
    margin-top: 10px;
    margin-left: 333px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 0;
}
.user-block ul {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
}
.user-block ul li {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    vertical-align: top;
}
.user-block ul li:nth-child(1) {
    /* Блочная модель */
    margin-right: 11px;
}
.user-block ul li:nth-child(2) {
    /* Блочная модель */
    margin-right: 10px;
}
.user-block a {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 14px 0;
    padding: 8px 0;
    /* Оформление текста */
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}
.user-block form {
    /* Позиционирование */
    position: absolute;
    /* Управление потоком */
    display: none;
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}
.user-block .user-block-search {
    /* Блочная модель */
    width: 33px;
    /* Оформление текста */
    text-indent: -9999px;
    /* Фон */
    background: rgba(255,255,255,0.2) url("../img/loupe.png") no-repeat 50% 50%;
    /* Декоративные элементы */
    border-radius: 16px;
}
.user-block-search-form  {
    /* Позиционирование */
    top: 57px;
    right: 0;
    z-index: 10;
    /* Блочная модель */
    width: 340px;
    height: 84px;
    /* Декоративные элементы */
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}
.user-block-search-form input[type="search"] {
    /* Блочная модель */
    width: 310px;
    height: 44px;
    margin: 21px 0;
    margin-left: 17px;
    margin-right: 15px;
    padding-left: 15px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    border: solid 1px #d3d3d2;
    border-radius: 5px;
}
.user-block .user-block-search:hover {
    /* Блочная модель */
    width: 33px;
    /* Оформление текста */
    text-indent: -9999px;
    /* Фон */
    background: #ffffff url("../img/loupe-active.png") no-repeat 50% 50%;
}
.user-block .user-block-search-li:hover .user-block-search-form {
    display: block;
}
.user-block .user-block-login {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    width: 48px;
    padding-left: 45px;
    /* Фон */
    background: rgba(255,255,255,0.2);
    /* Декоративные элементы */
    border-radius: 16px;
}
.user-block-login::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 19px;
    /* Фон */
    background: url("../img/login.png") no-repeat 50% 50%;
}
.user-block-login-form  {
    /* Позиционирование */
    top: 57px;
    right: 0;
    z-index: 10;
    /* Блочная модель */
    width: 240px;
    height: 172px;
    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 19px;
    padding-right: 17px;
    /* Декоративные элементы */
    border: solid 1px #d3d3d2;
}
.user-block-login-form input[type="email"],
.user-block-login-form input[type="password"] {
    /* Блочная модель */
    width: 225px;
    height: 44px;
    padding-left: 15px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    /* Фон */
    background: #ffffff;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
}
.user-block-login-form .button {
    /* Управление потоком */
    float: left;
    /* Блочная модель */
    width: 100px;
    height: 44px;
    margin: 0;
    margin-top: 21px;
    padding: 0;
    /* Оформление текста */
    font-weight: 700;
    /* Декоративные элементы */
    border-radius: 23px;
    box-shadow: none;
}
.user-block-login:hover,
.user-block-shopping-cart:hover {
    /* Оформление текста */
    color: #323232;
    /* Фон */
    background: #ffffff;
}
.user-block .user-block-login:hover::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 19px;
    /* Фон */
    background: url("../img/login-active.png") no-repeat 50% 50%;
}
.user-block .user-block-login-li:hover .user-block-login-form {
    /* Управление потоком */
    display: block;
}
.user-block-login-form-link {
    /* Управление потоком */
    float: right;
    /* Блочная модель */
    margin-top: 18px;
}
.user-block-login-form-link a {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    color: #323232;
}
.user-block-login-form-link a:hover,
 .user-block-login-form-link a:active {
    /* Оформление текста */
    text-decoration: underline;
    color: #e84d37;
    /* Фон */
    background: none;
}
.user-block .user-block-shopping-cart {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    width: 74px;
    padding: 8px 0;
    padding-left: 44px;
    /* Фон */
    background: rgba(255,255,255,0.2);
    /* Декоративные элементы */
    border-radius: 16px;
}
.user-block .user-block-shopping-cart:hover {
    background: #ffffff;
}
.user-block-shopping-cart::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 20px;
    /* Фон */
    background: url("../img/shopping-cart.png") no-repeat 50% 50%;
}
.user-block-shopping-cart:hover::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 20px;
    /* Фон */
    background: url("../img/shopping-cart-active.png") no-repeat 50% 50%;
}
.user-block-shopping-cart-content {
    /* Позиционирование */
    position: absolute;
    right: 0;
    z-index: 10;
    /* Управление потоком */
    display: none;
    /* Блочная модель */
    width: 504px;
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 15px;
    /* Оформление текста */
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.user-block .user-block-shopping-cart-li:hover .user-block-shopping-cart-content {
    /* Управление потоком */
    display: block;
}
.user-block .user-block-shopping-cart-li-empty:hover .user-block-shopping-cart-content {
    /* Управление потоком */
    display: nonr;
}
.user-block-shopping-cart-table td {
    /* Блочная модель */
    margin: 0;
    padding: 0;
}
.user-block-shopping-cart-table td:nth-child(1) {
    /* Блочная модель */
    padding-right: 10px;
}
.user-block-shopping-cart-table td:nth-child(2) {
    /* Блочная модель */
    padding-right: 14px;
}
.user-block-shopping-cart-table td:nth-child(3) {
    /* Блочная модель */
    padding-right: 30px;
}
.user-block-shopping-cart-table td:nth-child(4) {
    /* Блочная модель */
    padding-right: 30px;
}
.user-block-shopping-cart-table {
    /* Позиционирование */
    position: relative;
    /* Декоративные элементы */
    border-collapse: collapse;
}
.user-block-shopping-cart-table span {
    /* Оформление текста */
    color: #999999;
}
.user-block-shopping-cart-table td {
    /* Блочная модель */
    padding-bottom: 15px;
}
.user-block-shopping-cart-table tr:last-child:after {
    /* Позиционирование */
	position:absolute;
    bottom: 0;
    left:-5px;
	right: -19px;
	/* Блочная модель */
	content:"";
	height: 1px;
    /* Фон */
	background: #d1d0ce;
}
.user-block-shopping-cart-price {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: block;
    float: right;
    /* Блочная модель */
    margin-top: 15px;
    margin-bottom: 60px;
    /* Оформление текста */
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #333333;
}
.user-block-shopping-cart-button .button{
    /* Позиционирование */
    position: absolute;
    bottom: 20px;
    right: 15px;
    /* Блочная модель */
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
    /* Оформление текста */
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.opening-hours {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 262px;
    height: 52px;
    margin: 0;
    margin-left: 883px;
}
.opening-hours p {
    /* Оформление текста */
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}
.opening-hours p strong {
    display: block;
    margin-top: 5px;
    /* Оформление текста */
    font-size: 22px;
    line-height: 24px;
}
/*-------------------------------- index.html --------------------------------*/
.container {
    /* Блочная модель */
    width: 1146px;
    margin: 0 auto;
}
.site-wrapper {
    /* Фон */
    background :#849d8f url("../img/slide-1-pic.png") no-repeat top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
    /* Блочная модель */
    content: "";
    visibility: hidden;
}
.site-wrapper::before {
    /* Фон */
    background-image: url("../img/slide-2-pic.png");
}
.site-wrapper::after {
    /* Фон */
    background-image: url("../img/slide-3-pic.png");
}
.slider {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    padding-top: 270px;
    /* Оформление текста */
    text-align: center;
    color: #ffffff;
}
.slide {
    /* Управление потоком */
    display: none;
}
.slide-title {
    /* Блочная модель */
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    /* Оформление текста */
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}
.slide-button {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    padding: 12px 50px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 31px;
    font-weight: 500;
    line-height: 41px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    /* Фон */
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    /* Декоративные элементы */
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-button:hover {
    /* Фон */
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    /* Декоративные элементы */
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-button:active {
    /* Фон */
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    /* Декоративные элементы */
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls label {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    /* Фон */
    background-color: transparent;
    /* Декоративные элементы */
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    /* Управление потоком */
    display: block;
}
#btn-1:checked ~ .site-wrapper {
    /* Фон */
    background-color: #849d8f;
    background-image: url("../img/slide-1-pic.png");
}
#btn-2:checked ~ .site-wrapper {
    /* Фон */
    background-color: #8996a6;
    background-image: url("../img/slide-2-pic.png");
}
#btn-3:checked ~ .site-wrapper {
    /* Фон */
    background-color: #9d8b84;
    background-image: url("../img/slide-3-pic.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    /* Фон */
    background-color: #ffffff;
}
.slider-controls {
    /* Позиционирование */
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
    /* Оформление текста */
    font-size: 0;
}
.special-offer {
    /* Блочная модель */
    margin-top: 42px;
    margin-bottom: 25px;
    /* Оформление текста */
    font-size: 0;
}
.left-special-offer,
.right-special-offer {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 520px;
    height: 230px;
    padding: 0;
    padding-left: 21px;
    padding-right: 19px;
    /* Оформление текста */
    font-size: 18px;
    line-height: 22px;
    /* Декоративные элементы */
    border-radius: 15px;
}
.special-offer h2 {
    /* Оформление текста */
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}
.left-special-offer {
    /* Блочная модель */
    margin-right: 26px;
    /* Фон */
    background: url("../img/raspberry.jpg") -27px -95px;
}
.right-special-offer {
    /* Фон */
    background: url("../img/chocolate.jpg") -218px -105px;
}
.button {
    /* Блочная модель */
    padding: 14px 24px;
    /* Оформление текста */
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    /* Фон */
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    /* Декоративные элементы */
    border: none;
    border-radius: 32px;
    box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
    outline: none;
}
.button:hover {
    /* Фон */
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    /* Декоративные элементы */
    box-shadow: 0 2px 2px 0 #ac1000;
    outline: 0;
}
.button:active {
    /* Фон */
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    /* Декоративные элементы */
    box-shadow: inset 0 2px 2px 0 #942718;
}
.special-offer .button {
    /* Управление потоком */
    float: right;
}
.catalog {
    /* Оформление текста */
    font-size: 0;
    width: 1200px;
    margin: 0 auto;
}
.item .item-button {
    /* Управление потоком */
    visibility: hidden;
    /* Блочная модель */
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 15px 13px;
    /* Оформление текста */
    font-size: 18px;
    line-height: 24px;
}
.item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 267px;
    min-height: 322px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0 13px;
    padding-top: 10px;
    vertical-align: top;
}
.item::before {
    /* Позиционирование */
    position: absolute;
    left: 13px;
    top: 0;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 61px;
    height: 69px;
    /* Фон */
    background: url("../img/hit.png") no-repeat;
}
.catalog-ice-cream .item::before {
    /* Управление потоком */
    display: none;
}
.item:hover {
    /* Позиционирование */
    z-index:20;
    /* Фон */
    background-color: rgba(248,247,244,0.3);
    /* Декоративные элементы */
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}
.item:hover a {
    /* Оформление текста */
    text-decoration: none;
}
.item:hover .item-button {
    /* Управление потоком */
    visibility: visible;
}
.item p {
    /* Позиционирование */
    position: absolute;
    left: 13px;
    top: 185px;
    /* Оформление текста */
    font-size: 30px;
    line-height: 45px;
    /* Декоративные элементы */
    text-shadow: 1px 1px 3px rgba(49,50,53,0.5);
}
.item p strong {
    /* Оформление текста */
    font-size: 45px;
}
.item a {
    /* Управление потоком */
    display: block;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}
.item a:hover,
.item a:active {
    /* Оформление текста */
    color: #ffbc9e;
}
.item:nth-child(4n) {
    /* Блочная модель */
    margin-right: 0;
}
.item:nth-child(n+5) {
    /* Блочная модель */
    margin-top: -110px;
}
.item:nth-child(n+8) {
    /* Блочная модель */
    margin-bottom: -60px;
}
.description {
    /* Блочная модель */
    width: 1146px;
    height: 306px;
    margin: 0 auto;
    margin-top: -90px;
    margin-bottom: 40px;
    /* Оформление текста */
    font-size: 0;
    color: #323232;
    /* Фон */
    background: url("../img/wafer.png") repeat;
    /* Декоративные элементы */
    border-radius: 15px;
}
.description p strong {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    padding: 21px;
    /* Оформление текста */
    font-size: 24px;
    line-height: 30px;
}
.description-list {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
}
.description-item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 483px;
    margin-bottom: 30px;
    margin-right: 26px;
    padding-left: 77px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.description-item:nth-child(2n) {
    /* Блочная модель */
    margin-right: 0;
}
.description-item::before {
    /* Позиционирование */
    position: absolute;
    top: -18px;
    left: 20px;
    /* Блочная модель */
    content: "";
    width: 49px;
    height: 49px;
}
.description-item:nth-child(1)::before {
    /* Фон */
    background: url("../img/ice-cream.png") no-repeat;
}
.description-item:nth-child(2)::before {
    /* Фон */
    background: url("../img/cow.png") no-repeat;
}
.description-item:nth-child(3)::before {
    /* Фон */
    background: url("../img/foliage.png") no-repeat;
}
.description-item:nth-child(4)::before {
    /* Фон */
    background: url("../img/thermometer.png") no-repeat;
}
.news {
    /* Блочная модель */
    font-size: 0;
    /* Оформление текста */
    margin-bottom: 40px;
}
.news-blog,
.news-newsletter {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 560px;
    height: 220px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 16px;
    /* Декоративные элементы */
    border-radius: 15px;
}
.news-blog {
    /* Блочная модель */
    margin-right: 26px;
    /* Фон */
    background: url("../img/strawberry.jpg") no-repeat -54px -225px;
}
.news-blog h3{
    /* Блочная модель */
    padding-left: 21px;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #323232;
}
.news-blog a {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    padding-left: 21px;
    padding-right: 244px;
    /* Оформление текста */
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}
.news-blog a:hover,
.news-blog a:active {
    /* Оформление текста */
    color: #e84d37;
}
.news-newsletter {
    /* Фон */
    background: #f8f7f4 url("../img/lines.png") repeat;
}
.news-newsletter-container {
    /* Блочная модель */
    width: 508px;
    height: 168px;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 20px;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #5a5a5a;
    /* Фон */
    background: #f8f7f4;
}
.news-newsletter form {
    /* Блочная модель */
    margin-top: 40px;
    /* Оформление текста */
    font-size: 0;
}
.news-newsletter form input[type=email] {
    /* Блочная модель */
    width: 348px;
    height: 42px;
    margin-right: 11px;
    padding-left: 15px;
    /* Оформление текста */
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    /* Декоративные элементы */
    border-radius: 5px;
}
.news-newsletter .button {
    /* Блочная модель */
    width: 130px;
    padding-left: 21px;
    /* Оформление текста */
    font-weight: 400;
}
.contacts {
    /* Блочная модель */
    height: 430px;
}
.contacts iframe {
    position: absolute;
    z-index: 10;
}
/*.contacts img {
    position: relative;
    left: -27px;
}
.contacts::after {
    position: absolute;
    top: 139px;
    left: 240px;
    content: "";
    width: 218px;
    height: 142px;
    background: url("../img/map-index.png") no-repeat;
}*/
.contacts-info-block {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    width: 1146px;
    height: 430px;
}
.contacts-info {
    /* Позиционирование */
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 20;
    /* Блочная модель */
    width: 250px;
    height: 293px;
    padding: 6px 26px;
    /* Оформление текста */
    color: #323232;
    /* Фон */
    background: #fffefe;
    /* Декоративные элементы */
    border-radius: 15px;
}
.contacts-info p {
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.contacts-info p strong {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    padding-top: 6px;
    /* Оформление текста */
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.contacts-info a {
    /* Управление потоком элементов */
    display: block;
    /* Блочная модель */
    margin-top: 30px;
}
/*---------------------------------- Подвал ----------------------------------*/
.main-footer {
    /* Блочная модель */
    height: 105px;
    /* Оформление текста */
    font-size: 0;
}
.main-footer a:hover,
.main-footer a:active {
    /* Оформление текста */
    color: #ffbc9e;
}
.footer-social {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 240px;
    height: 63px;
    margin-top: 36px;
    margin-bottom: 21px;
    margin-right: 161px;
    vertical-align: top;
}
.social-btn {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 32px;
    height: 32px;
    margin-right: 17px;
    vertical-align: middle;
    /* Оформление текста */
    text-indent: -9999px;
    /* Декоративные элементы */
    border: 4px solid rgba(255,255,255,0.5);
    border-radius: 32px;
}
.social-btn:hover {
    /* Декоративные элементы */
    border: 4px solid rgba(255,255,255,0.7);
}
.social-btn:active {
    /* Декоративные элементы */
    box-shadow: inset 0 2px 1px 0 #696969;
}
.social-btn-tw{
    /* Фон */
    background: url("../img/twitter.png") no-repeat 50% 50%;
}
.social-btn-inst{
    /* Фон */
    background: url("../img/instagram.png") no-repeat 50% 50%;
}
.social-btn-fb{
    /* Фон */
    background: url("../img/facebook.png") no-repeat 50% 50%;
}
.social-btn-vk{
    /* Фон */
    background: url("../img/vk.png") no-repeat 50% 50%;
}
.footer-about {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 340px;
    margin-top: 34px;
    /* Оформление текста */
    font-size: 0;
}
.footer-about a {
    /* Управление потоком элементов */
    display: block;
    /* Оформление текста */
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
}
.left-footer-about {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 160px;
    height: 63px;
}
.left-footer-about a {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    padding-left: 22px;
}
.left-footer-about a b::before {
    /* Позиционирование */
    position: absolute;
    top: 3px;
    left: 0px;
    /* Блочная модель */
    content: "";
    width: 15px;
    height: 13px;
    /* Фон */
    background: url("../img/heart.png") no-repeat;
}
.right-footer-about {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 180px;
    height: 63px;
}
.footer-copyright {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 187px;
    height: 63px;
    margin-top: 18px;
    margin-left: 218px;
    /* Оформление текста */
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
}
.footer-copyright .btn {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    width: 108px;
    height: 38px;
    /* Оформление текста */
    text-indent: -9999px;
    /* Фон */
    background: url("../img/logo-html-academy.png") no-repeat;
}
.footer-copyright a {
    /* Оформление текста */
    color: #ffffff;
}
.modal-overlay {
    /* Позиционирование */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /* Управление потоком */
    display: none;
    /* Блочная модель */
    width: 100%;
    height: 100%;
    /* Фон */
    background: rgba(0, 0, 0, 0.3);
}
.modal-content {
    /* Позиционирование */
    position: absolute;
    top: 338px;
    left: 50%;
    z-index: 20;
    /* Управление потоком */
    display: none;
    width: 430px;
    margin-left: -238px;
    padding: 20px 25px 25px 20px;
    /* Оформление текста */
    font-size: 24px;
    color: #323232;
    /* Фон */
    background: #f8f7f4;
}
.modal-content-close {
    /* Позиционирование */
    position: absolute;
    top: 15px;
    right: 15px;
    /* Блочная модель */
    width: 18px;
    height: 18px;
    /* Оформление текста */
    font-size: 0;
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
    border: 0;
    outline: 0;
    cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
    /* Позиционирование */
    position: absolute;
    right: 0;
    /* Блочная модель */
    content: "";
    width: 19px;
    height: 2px;
    /* Фон */
    background-color: #323232;
    /* Декоративные элементы */
    border-radius: 1px;
}
.modal-content-close::before {
    transform: rotate(45deg);
}
.modal-content-close::after {
    transform: rotate(-45deg);
}
.modal-content-form {
    /* Оформление текста */
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 28px;
}
.modal-content-form input {
    /* Блочная модель */
    width: 245px;
    padding: 11px;
    margin-bottom: 20px;
    /* Оформление текста */
    font-weight: 400;
    /* Декоративные элементы */
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.modal-fcontent-form input:hover {
    /* Блочная модель */
    padding: 10px;
    /* Декоративные элементы */
    border: 2px solid #c7c6c5;
}
.modal-content-form textarea {
    /* Блочная модель */
    width: 406px;
    height: 130px;
    padding: 11px;
    margin-bottom: 25px;
    /* Декоративные элементы */
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.modal-content-form textarea:hover {
    /* Блочная модель */
    padding: 10px;
    /* Декоративные элементы */
    border: 2px solid #c7c6c5;
}
.modal-content-form label {
    /* Управление потоком */
    visibility: hidden;
    /* Оформление текста */
    font-size: 11px;
    font-weight: 400;
    color: #5b9ddf;
}
.modal-content-form .name1 {
    /* Позиционирование */
    position: absolute;
    left: 40px;
    top: 40px;
}
.modal-content-form .email {
    /* Позиционирование */
    position: absolute;
    left: 40px;
    top: 102px;
}
.modal-content-form .textarea {
    /* Позиционирование */
    position: absolute;
    left: 40px;
    top: 164px;
}
.modal-content-form input:focus + label,
.modal-content-form textarea:focus + label {
    /* Управление потоком */
    visibility: visible;
}
.modal-content-form input:focus,
.modal-content-form textarea:focus {
    /* Блочная модель */
    padding: 10px;
    /* Декоративные элементы */
    border: 2px solid #8fbdec;
}
.modal-content p {
    /* Блочная модель */
    margin-bottom: 19px;
}
.modal-content-form button {
    /* Управление потоком */
    float: right;
}
/*-------------------------------catalog.html --------------------------------*/
.breadcrumbs-list {
    /* Позиционирование */
    position: absolute;
    top: 112px;
    /* Блочная модель */
    width: 267px;
    height: 18px;
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
    font-size: 0;
}
.breadcrumbs-item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin-right: 20px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.breadcrumbs-item a {
    /* Оформление текста */
    color: #ffffff;
}
.breadcrumbs-list li:nth-child(2)::before,
.breadcrumbs-list li:nth-child(3)::before {
    /* Позиционирование */
    position: absolute;
    left: -13px;
    /* Блочная модель */
    content: "»";
    width: 1px;
    height: 1px;
}
.filter form {
    /* Блочная модель */
    width: 879px;
    height: 145px;
    margin-bottom: 35px;
    /* Оформление текста */
    font-size: 0;
}
h1 {
    /* Блочная модель */
    margin-top: 0;
    /* Оформление текста */
    font-size: 35px;
    line-height: 41px;
}
h2 {
    /* Блочная модель */
    margin-left: 16px;
    margin-bottom: 5px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.filter-sorting,
.filter-price,
.filter-fat-content,
.filter-filler,
.filter-button {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    height: 56px;
    margin-right: 15px;
    margin-bottom: 18px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 14px;
}
.filter-sorting select {
    /* Блочная модель */
    width: 193px;
    padding: 8px 16px;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: white;
    /* Фон */
    background: rgba(255,255,255,0.2);
    /* Декоративные элементы */
    border-radius: 18px;
    cursor: pointer;
}
select:hover {
    /* Оформление текста */
    color: #323232;
    /* Фон */
    background: rgba(255, 255, 255, 1);
}
select option {
    /* Оформление текста */
    color: #323232;
    /* Фон */
	background-color: #ffffff;
    /* Декоративные элементы */
	border-radius: 10px;
}
.filter-price {
    /* Блочная модель */
    width: 219px;
}
.filter-range-controls {
    /* Позиционирование */
	position: relative;
    /* Управление потоком */
    overflow: hidden;
    /* Блочная модель */
	height: 36px;
	padding: 0 15px;
    /* Фон */
	background: rgba(255, 255, 255, 0.2);
    /* Декоративные элементы */
	border-radius: 100px;
}
.filter-range-scale {
    /* Блочная модель */
	height: 4px;
    margin-top: 16px;
    /* Фон */
	background: #d1dad3;
}
.filter-range-bar {
    /* Блочная модель */
	width: 100px;
	height: 4px;
    margin-left: 22px;
    /* Фон */
	background: #f8f7f4;
}
.filter-range-controls .toggle {
    /* Позиционирование */
	position:absolute;
	top: 7px;
    /* Блочная модель */
	width: 20px;
	height: 20px;
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	cursor:pointer;
}
.filter-range-controls .toggle:hover {
    /* Позиционирование */
    top: 5px;
    /* Блочная модель */
	width: 22px;
	height: 22px;
}
.filter-range-controls .min-toggle {
    /* Позиционирование */
	left: 36px;
}
.filter-range-controls .max-toggle {
    /* Позиционирование */
	left: 133px;
}
.filter-fat-content-radio-list {
    /* Блочная модель */
    width: 410px;
    margin: 0;
    padding: 0;
    /* Оформление текста */
    font-size: 0;
    list-style: none;
    /* Фон */
    background: rgba(255, 255, 255, 0.2);
    /* Декоративные элементы */
    border-radius: 18px;
}
.filter-fat-content-radio-item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 0 24px;
    padding: 8px 0;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.filter-fat-content-radio-list li:first-child {
    /* Блочная модель */
    margin-left: 44px;
}
.filter-fat-content-radio-list li:last-child {
    /* Блочная модель */
    margin-right: 0;
}
.filter-fat-content-radio-item input {
    /* Управление потоком */
	display: none;
}
.fat-content-radio input+.indicator {
    /* Позиционирование */
	position:absolute;
    left: -30px;
    /* Блочная модель */
	width: 18px;
	height: 18px;
    /* Фон */
    background: #aabcb2;
	/* Декоративные элементы */
	border:4px solid #aabcb2;
    border-radius:50%;
	box-shadow: 0 0 0 1px #f8f7f4;
	box-sizing: border-box;
}
.fat-content-radio input:checked+.indicator {
    /* Фон */
	background: #f8f7f4;
}
.fat-content-radio input+.indicator:hover {
    /* Блочная модель */
	width: 16px;
	height: 16px;
    /* Декоративные элементы */
    box-shadow: 0 0 0 2px #f8f7f4;
	border: 3px solid #aabcb2;
}
.fat-content-radio input:disabled+.indicator {
    opacity: 0.4;
}
.filter-filler {
    /* Блочная модель */
    margin-right: 14px;
}
.filter-filler-checkbox-list {
    /* Блочная модель */
    width: 703px;
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
    font-size: 0;
    /* Фон */
    background: rgba(255, 255, 255, 0.2);
    /* Декоративные элементы */
    border-radius: 18px;
}
.filter-filler-checkbox-item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 0 27px;
    padding: 8px 0;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.filter-filler-checkbox-list li:first-child {
    /* Блочная модель */
    margin-left: 48px;
}
.filter-filler-checkbox-list li:last-child {
    /* Блочная модель */
    margin-right: 0;
}
.filter-filler-checkbox-item input{
    /* Управление потоком */
	display: none;
}
.filter-filler-checkbox {
    /* Позиционирование */
	position: relative;
    /* Декоративные элементы */
	cursor: pointer;
}
.filter-filler-checkbox input+.check-indicator {
    /* Позиционирование */
	position :absolute;
    left: -33px;
    /* Блочная модель */
	width:20px;
	height:20px;
    /* Фон */
    background: url("../img/checkbox-unchecked.png") no-repeat;
}
.filter-filler-checkbox input:checked+.check-indicator {
    /* Фон */
	background: url("../img/checkbox-checked.png");
}
.filter-filler-checkbox input:checked+.check-indicator:hover {
    /* Фон */
	background: url("../img/checkbox-checked-hover.png");
}
.filter-filler-checkbox input+.check-indicator:hover {
    /* Фон */
	background: url("../img/checkbox-unchecked-hover.png");
}
.filter-filler-checkbox input:disabled+.check-indicator {
    opacity: 0.4;
}
.filter-button {
    /* Блочная модель */
    height: 36px;
	margin-top: 31px;
	padding: 7px 27px;
    /* Оформление текста */
	font-size: 16px;
	font-weight: 500;
    line-height: 18px;
	color: #ffffff;
    /* Фон */
	background: rgba(255, 255, 255, 0.2);
    /* Декоративные элементы */
    box-sizing: border-box;
    border: 2px solid #fbfcfb;
	border-radius: 100px;
	cursor:pointer;
}
.filter-button:hover {
    /* Блочная модель */
    padding-top: 7px;
	padding-bottom: 7px;
    /* Оформление текста */
    color: #323232;
    /* Фон */
	background: #fbfcfb;
	/* Декоративные элементы */
    border: 2px solid transparent;
}
.filter-button:active {
    /* Блочная модель */
    padding-top: 9px;
	padding-bottom: 9px;
    /* Оформление текста */
	color: #323232;
    /* Фон */
	background-color: #eaeaea;
    /* Декоративные элементы */
	box-shadow: inset 0px 2px 1px #696969;
	border: none;
}
.pagination-list {
    /* Управление потоком */
    float: right;
    /* Блочная модель */
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0;
    /* Оформление текста */
    font-size: 0;
    list-style: none;
}
.pagination-item {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 26px;
    height: 26px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}
.pagination-item a {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    padding: 5px;
    /* Оформление текста */
    text-decoration: none;
    color: #ffffff;
}
.pagination-list .active a {
    /* Оформление текста */
    color: #323232;
}
.pagination-list .active {
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    border-radius: 13px;
}
.pagination-list .active:hover {
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    border-radius: 13px;
}
.pagination-item:hover {
    /* Фон */
    background: rgba(255, 255, 255, 0.2);
    /* Декоративные элементы */
    border-radius: 13px;
}
.pagination-item:active {
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    border-radius: 13px;
}
.pagination-item:active a {
    /* Оформление текста */
    color: #323232;
}
.pagination-item:first-child {
    /* Фон */
    background: url(../img/prev.png) no-repeat center;
}
.pagination-item:last-child {
    /* Блочная модель */
    margin-right: -5px;
    /* Оформление текста */
    font-size: 0;
    /* Фон */
    background: url(../img/next.png) no-repeat center;
}
.pagination-item:last-child:hover {
    /* Фон */
    background: rgba(255, 255, 255, 0.2) url(../img/next.png) no-repeat center;
}
.pagination-item:last-child:active {
    /* Фон */
    background: rgba(255, 255, 255, 1) url(../img/next-black.png) no-repeat center;
}
.line {
    /* Блочная модель */
    width: 1146px;
    height: 1px;
    margin: 0 auto;
    /* Фон */
    background: rgba(255,255,255, 0.3);
}
.clearfix::after {
    /* Управление потоком */
    display: table;
    content: "";
    clear: both;
}
