body {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    /* Фон */
    background: #97b4a4;
}
/*---------------------------------- Шапка -----------------------------------*/
.main-header {
    /* Блочная модель */
    margin-top: 9px;
}
.main-navigation {
    /* Управление потоком */
    display: inline-block;
}
.main-navigation .logo {
    /* Блочная модель */
    margin-right: 10px;
}
.navigation-block {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 0;
    padding: 0;
    vertical-align: top;
    /* Оформление текста */
    font-size: 0;
    list-style: none;
}
.navigation-block-point,
.active-navigation-block-point {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
}
.navigation-block-point a {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    margin: 14px 8px;
    padding: 6px;
    /* Оформление текста */
    color: #ffffff;
}
.navigation-block-point a:hover,
.user-block a:hover {
    /* Оформление текста */
    text-decoration: none;
    color: #333333;
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
    border-radius: 16px;
}
.navigation-block-point a:active {
    box-shadow: inset 0 2px 0 0 #696969;
}
.active-navigation-block-point {
    /* Оформление текста */
    color: #ffffff;
    /* Фон */
    background: #d07058;
}
.sub-navigation {
    /* Позиционирование */
    position: absolute;
    top: 51px;
    left: 8px;
    z-index: 10;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
}
.sub-navigation-block-point a {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    width: 104px;
    margin: 0;
    padding: 10px 20px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: #323232;
}
.sub-navigation li:first-child {
    /* Оформление текста */
    font-weight: 700;
    color: #323232;
    /* Декоративные эффекты */
    border-bottom: 1px solid rgba(50,50,50,0.2);
}
.navigation-block-point a:hover .sub-navigation {
    /* Управление потоком */
    display: block;
}
.sub-navigation-block-point a:hover {
    /* Фон */
    background: #fbded7;
    /* Декоративные элементы */
    border-radius: 0;
}
.sub-navigation-block-point a:active {
    /* Фон */
    background: #f6b5a5;
    /* Декоративные элементы */
    box-shadow: none;
}
.user-block {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 265px;
    margin-left: 333px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 0;
}
.user-block ul {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
}
.user-block ul li {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin-right: 11px;
}
.user-block ul li:last-child {
    /* Блочная модель */
    margin-right: 0;
}
.user-block a {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin: 14px 0;
    padding: 8px 0;
    vertical-align: top;
    /* Оформление текста */
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}
.user-block form {
    /* Позиционирование */
    position: absolute;
    /* Управление потоком */
    display: none;
    /* Фон */
    background: #f8f7f4;
    /* Декоративные элементы */
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}
.user-block .user-block-search {
    /* Блочная модель */
    width: 33px;
    /* Оформление текста */
    text-indent: -9999px;
    /* Фон */
    background: rgba(255,255,255,0.2) url("../img/loupe.png") no-repeat 50% 50%;
    /* Декоративные элементы */
    border-radius: 16px;
}
.user-block-search-form  {
    /* Позиционирование */
    top: 57px;
    right: 0;
    z-index: 10;
    /* Блочная модель */
    width: 340px;
    height: 84px;
    /* Декоративные элементы */
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}
.user-block-search-form input[type="text"] {
    /* Блочная модель */
    width: 280px;
    height: 14px;
    margin: 20px 14px;
    padding: 15px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    /* Фон */
    background: #ffffff;
    /* Декоративные элементы */
    border: solid 1px #d3d3d2;
}
.user-block .user-block-search:hover {
    /* Блочная модель */
    width: 33px;
    /* Оформление текста */
    text-indent: -9999px;
    /* Фон */
    background: #ffffff url("../img/loupe-active.png") no-repeat 50% 50%;
}
.user-block .user-block-search:hover + .user-block-search-form {
    display: block;
}
.user-block .user-block-login {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    width: 48px;
    padding-left: 45px;
    /* Фон */
    background: rgba(255,255,255,0.2);
    /* Декоративные элементы */
    border-radius: 16px;
}
.user-block-login::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 19px;
    /* Фон */
    background: url("../img/login.png") no-repeat 50% 50%;
}
.user-block-login-form  {
    /* Позиционирование */
    top: 57px;
    right: 0;
    z-index: 10;
    /* Блочная модель */
    width: 276px;
    height: 214px;
    /* Декоративные элементы */
    border: solid 1px #d3d3d2;
}
.user-block-login-form input[type="email"],
.user-block-login-form input[type="password"] {
    /* Блочная модель */
    width: 210px;
    height: 14px;
    margin: 20px 18px;
    padding: 15px;
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    /* Фон */
    background: #ffffff;
    border: solid 1px #d3d3d2;
}
.user-block-login-form input[type="password"] {
    /* Блочная модель */
    margin-top: 0;
}
.user-block-login-form .button {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    margin-left: 19px;
    margin-bottom: 22px;
    padding: 13px 24px;
    margin: 0;
    /* Декоративные элементы */
    border-radius: 23px;
    box-shadow: 0 1px 2px 0 #ac1000;
}
.user-block .user-block-login:hover::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 19px;
    /* Фон */
    background: url("../img/login-active.png") no-repeat 50% 50%;
}
.user-block .user-block-login:hover + .user-block-login-form {
    /* Управление потоком */
    display: block;
}
.user-block-login-form-link {
    /* Управление потоком */
    display: inline-block;
}
.user-block-login-form-link a {
    /* Оформление текста */
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
    color: #323232;
}
.user-block-login-form-link a:hover,
 .user-block-login-form-link a:active {
    /* Оформление текста */
    text-decoration: underline;
    color: #e84d37;
    /* Фон */
    background: none;
}
.user-block .user-block-shopping-cart {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    width: 72px;
    padding-left: 45px;
    /* Фон */
    background: rgba(255,255,255,0.2);
    /* Декоративные элементы */
    border-radius: 16px;
}
.user-block-shopping-cart::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 20px;
    /* Фон */
    background: url("../img/shopping-cart.png") no-repeat 50% 50%;
}
.user-block-shopping-cart::before {
    /* Позиционирование */
    position: absolute;
    left: 16px;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 21px;
    height: 20px;
    /* Фон */
    background: url("../img/shopping-cart.png") no-repeat 50% 50%;
}
.opening-hours {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 262px;
    height: 52px;
    margin: 0;
    margin-left: 885px;
}
.opening-hours p {
    /* Оформление текста */
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}
.opening-hours p strong {
    /* Оформление текста */
    font-size: 22px;
    line-height: 24px;
}
/*-------------------------------- index.html --------------------------------*/
.container {
    /* Блочная модель */
    width: 1146px;
    margin: 0 auto;
}
.container > .button {
    display: none;
}
.special-offer {
    /* Блочная модель */
    margin-top: 528px;
    margin-bottom: 35px;
    /* Оформление текста */
    font-size: 0;
}
.left-special-offer,
.right-special-offer {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 520px;
    height: 230px;
    padding: 0;
    padding-left: 21px;
    padding-right: 19px;
    /* Оформление текста */
    font-size: 18px;
    line-height: 22px;
}
.special-offer h2 {
    /* Оформление текста */
    font-size: 35px;
    line-height: 41px;
}
.left-special-offer {
    /* Блочная модель */
    margin-right: 26px;
    /* Фон */
    background: url("../img/raspberry.jpg");
}
.right-special-offer {
    /* Фон */
    background: url("../img/chocolate.jpg");
}
.button {
    /* Блочная модель */
    padding: 14px 24px;
    /* Оформление текста */
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    /* Фон */
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    /* Декоративные элементы */
    border-radius: 32px;
    box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
}
.button:hover {
    /* Фон */
    background-color: rgba(255,255,255,0.2);
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    /* Декоративные элементы */
    box-shadow: 0 2px 2px 0 #ac1000;
}
.button:active {
    /* Фон */
    background: rgba(0,0,0,0.7) linear-gradient(to top, #f26843, #e74a35);
    /* Декоративные элементы */
    box-shadow: inset 0 2px 2px 0 #942718;
}
.special-offer .button {
    /* Управление потоком */
    float: right;
}
.catalog {
    /* Оформление текста */
    font-size: 0;
}
.item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 267px;
    height: 322px;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 26px;
    padding: 0;
    vertical-align: top;
}
.item::before {
    /* Позиционирование */
    position: absolute;
    left: 0;
    top: 0;
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    content: "";
    width: 61px;
    height: 69px;
    /* Фон */
    background: url("../img/hit.png") no-repeat;
}
.item:hover {
    background: rgba(157,177,165,0.2);
}
.item p {
    /* Позиционирование */
    position: absolute;
    left: 0;
    bottom: 37px;
    /* Оформление текста */
    font-size: 30px;
    line-height: 45px;
}
.item p strong {
    /* Оформление текста */
    font-size: 45px;
}
.item a {
    /* Управление потоком */
    display: block;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}
.item a:hover,
.item a:active {
    /* Оформление текста */
    color: #ffbc9e;
}
.item:nth-child(4n) {
    /* Блочная модель */
    margin-right: 0;
}
.description {
    /* Блочная модель */
    width: 1146px;
    height: 306px;
    margin: 0 auto;
    margin-bottom: 40px;
    /* Оформление текста */
    font-size: 0;
    color: #323232;
    /* Фон */
    background: url("../img/wafer.png") repeat;
}
.description p strong {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    padding: 21px;
    /* Оформление текста */
    font-size: 24px;
    line-height: 30px;
}
.description-list {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    /* Оформление текста */
    list-style: none;
}
.description-item {
    /* Позиционирование */
    position: relative;
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 483px;
    margin-bottom: 30px;
    margin-right: 26px;
    padding-left: 77px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.description-item:nth-child(2n) {
    /* Блочная модель */
    margin-right: 0;
}
.description-item::before {
    /* Позиционирование */
    position: absolute;
    top: -18px;
    left: 20px;
    /* Блочная модель */
    content: "";
    width: 49px;
    height: 49px;
}
.description-item:nth-child(1)::before {
    /* Фон */
    background: url("../img/ice-cream.png") no-repeat;
}
.description-item:nth-child(2)::before {
    /* Фон */
    background: url("../img/cow.png") no-repeat;
}
.description-item:nth-child(3)::before {
    /* Фон */
    background: url("../img/foliage.png") no-repeat;
}
.description-item:nth-child(4)::before {
    /* Фон */
    background: url("../img/thermometer.png") no-repeat;
}
.news {
    /* Блочная модель */
    font-size: 0;
    /* Оформление текста */
    margin-bottom: 40px;
}
.news-blog,
.news-newsletter {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 560px;
    height: 220px;
    vertical-align: top;
    /* Оформление текста */
    font-size: 16px;
}
.news-blog {
    /* Блочная модель */
    margin-right: 26px;
    /* Фон */
    background: url("../img/strawberry.jpg") no-repeat -54px -225px;
}
.news-blog h3{
    /* Блочная модель */
    padding-left: 21px;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #323232;
}
.news-blog a {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    padding-left: 21px;
    padding-right: 244px;
    /* Оформление текста */
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}
.news-blog a:hover,
.news-blog a:active {
    /* Оформление текста */
    color: #e84d37;
}
.news-newsletter {
    /* Фон */
    background: #f8f7f4 url("../img/lines.png") repeat;
}
.news-newsletter-container {
    /* Блочная модель */
    width: 508px;
    height: 168px;
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 20px;
    /* Оформление текста */
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #5a5a5a;
    /* Фон */
    background: #f8f7f4;
}
.news-newsletter form {
    /* Блочная модель */
    margin-top: 40px;
    /* Оформление текста */
    font-size: 0;
}
.news-newsletter form input[type=email] {
    /* Блочная модель */
    width: 348px;
    height: 42px;
    margin-right: 11px;
    padding-left: 15px;
    /* Оформление текста */
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}
.news-newsletter .button {
    /* Блочная модель */
    width: 130px;
    padding-left: 21px;
    /* Оформление текста */
    font-weight: 400;
}
.contacts {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    width: 1146px;
    height: 430px;
    margin: 0 auto;
}
.contacts img {
    /* Позиционирование */
    position: relative;
    left: -27px;
}
.contacts::after {
    /* Позиционирование */
    position: absolute;
    top: 139px;
    left: 240px;
    /* Блочная модель */
    content: "";
    width: 218px;
    height: 142px;
    /* Фон */
    background: url("../img/map-index.png") no-repeat;
}
.contacts-info {
    /* Позиционирование */
    position: absolute;
    top: 63px;
    right: 0;
    /* Блочная модель */
    width: 250px;
    height: 293px;
    padding: 6px 26px;
    /* Оформление текста */
    color: #323232;
    /* Фон */
    background: #fffefe;
}
.contacts-info p {
    /* Оформление текста */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.contacts-info p strong {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    padding-top: 6px;
    /* Оформление текста */
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.contacts-info a {
    /* Управление потоком элементов */
    display: block;
    /* Блочная модель */
    margin-top: 30px;
}
/*---------------------------------- Подвал ----------------------------------*/
.main-footer {
    /* Блочная модель */
    height: 105px;
    /* Оформление текста */
    font-size: 0;
}
.main-footer a:hover,
.main-footer a:active {
    /* Оформление текста */
    color: #ffbc9e;
}
.footer-social {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 240px;
    height: 63px;
    margin-top: 36px;
    margin-bottom: 21px;
    margin-right: 161px;
    vertical-align: top;
}
.social-btn {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 40px;
    height: 40px;
    margin-right: 17px;
    vertical-align: middle;
    /* Оформление текста */
    text-indent: -9999px;
}
.social-btn-tw{
    /* Фон */
    background: url("../img/twitter.png") no-repeat 50% 50%;
}
.social-btn-inst{
    /* Фон */
    background: url("../img/instagram.png") no-repeat 50% 50%;
}
.social-btn-fb{
    /* Фон */
    background: url("../img/facebook.png") no-repeat 50% 50%;
}
.social-btn-vk{
    /* Фон */
    background: url("../img/vk.png") no-repeat 50% 50%;
}
.footer-about {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 340px;
    margin-top: 34px;
    /* Оформление текста */
    font-size: 0;
}
.footer-about a {
    /* Управление потоком элементов */
    display: block;
    /* Оформление текста */
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
}
.left-footer-about {
    /* Управление потоком элементов */
    display: inline-block;
    /* Блочная модель */
    width: 160px;
    height: 63px;
}
.left-footer-about a {
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    padding-left: 22px;
}
.left-footer-about a b::before {
    /* Позиционирование */
    position: absolute;
    top: 3px;
    left: 0px;
    /* Блочная модель */
    content: "";
    width: 15px;
    height: 13px;
    /* Фон */
    background: url("../img/heart.png") no-repeat;
}
.right-footer-about {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 180px;
    height: 63px;
}
.footer-copyright {
    /* Управление потоком */
    display: inline-block;
    /* Блочная модель */
    width: 187px;
    height: 63px;
    margin-top: 18px;
    margin-left: 218px;
    /* Оформление текста */
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
}
.footer-copyright .btn {
    /* Управление потоком */
    display: block;
    /* Блочная модель */
    width: 108px;
    height: 38px;
    /* Оформление текста */
    text-indent: -9999px;
    /* Фон */
    background: url("../img/logo-html-academy.png") no-repeat;
}
.footer-copyright a {
    /* Оформление текста */
    color: #ffffff;
}


/*-------------------------- Сетка для catalog.html --------------------------*/
.breadcrumbs-list {
    width: 267px;
    height: 18px;
    background-color: #5db1fd;
}

.filter form {
    width: 879px;
    height: 145px;
    margin-bottom: 35px;
    background-color: #5db1fd;
}

.filter-sorting,
.filter-price,
.filter-fat-content,
.filter-filler,
.filter-button {
    display: inline-block;
    vertical-align: top;
    height: 56px;
    margin-right: 15px;
    margin-bottom: 18px;
    background-color: #aad6fe;
    font-size: 14px;
}

.filter-sorting {
    width: 193px;
}

.filter-price {
    width: 219px;
}

.filter-fat-content {
    width: 415px;
}

.filter-filler {
    width: 703px;
    margin-right: 14px;
}

.filter-button {
    width: 144px;
}

.page-number {
    float: right;
    width: 192px;
    height: 100px;
    background-color: #5db1fd;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Оформление */


.filter h2 {
    /* Оформление текста */
    font-size: 14px;
    line-height: 1px;
    font-weight: medium;
}


.main-container h1 {
    font-size: 35px;
}
