body {
    /* Оформление текста */
    font-size: 16px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto";
}

.special-offer h2 {
    /* Оформление текста */
    font-size: 35px;
    line-height: 3px;
}

.filter h2 {
    /* Оформление текста */
    font-size: 14px;
    line-height: 1px;
    font-weight: medium;
}

.news-blog h3 {
    /* Оформление текста */
    line-height: 3px;
    color: #5a5a5a;
    font-weight: medium;
}
